/* Left */
.aside-left {
    display: grid;
    grid-area: 5 / 1 / 9 / 38;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.aside-left > .content {
    grid-column: 2/6;
    grid-row: 2/12;

    overflow: auto;
}

.aside-left > .content > .center {
    color: rgb(62, 71, 105);
}

.menu-text {
    font-family: Garamond;
    font-size: 19px;
}

/* Right */
.aside-right {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);

    grid-area: 20 / 1 / 32 / 38;
}

.aside-right > .content {
    grid-column: 2/6;
    grid-row: 2/12;

    overflow: auto;
}

.aside-right > .content > .center {
    color: rgb(62, 71, 105);
}

.aside-right > .content > p {
    font-family: Garamond;
    font-size: 19px;
    padding-bottom: 10px;
}

.radio-container {
    grid-area: 1/1/2/7;

    padding: 20px;
    border: 10px double rgb(62, 71, 105);
    background-color: rgb(226, 230, 250);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 20px auto;
}

.radio-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

.radio-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-label .custom-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.radio-input:checked ~ .custom-radio {
    background-color: #2196f3;
    border-color: #2196f3;
}

.radio-input:checked ~ .custom-radio:after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.image-container img {
    border-radius: 10%;
    max-width: 80%;
    margin-bottom: 5px;
    border: 20px outset rgb(62, 71, 105);
}

.remove-image {
    border-radius: 10%;
    background-color: rgb(226, 230, 250);
    color: rgb(62, 71, 105);
    font-size: 16px;
    font-weight: bold;
}
