.header {
    display: grid;
    grid-area: 1/1/3/37;

    grid-template-columns: repeat(36, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.header-sign {
    grid-area: 4/16/5/34;

    color: rgb(255, 255, 255);
    text-align: center;
}
